.DS_Store
.idea/
archive/
coverage/
build.sh
**/.DS_Store
**/.c9
**/.omsync*
node_modules/
insight/model_resources/*.csv
*.zip
screenshots
.cache

insight/client_resources/vdlx-datagrid/
dist/insight/client_resources/vdlx-datagrid/*.js
dist/insight/client_resources/vdlx-datagrid/*.css
dist/insight/client_resources/vdlx-datagrid-debug/*.js
dist/insight/client_resources/vdlx-datagrid-debug/*.css

.vscode