/*
FICO Styleguide Stylesheet
Version 4.5
*/

a { color:#00629B; font-weight: 500;}
a:hover { color:#00629B; font-weight: 500; text-decoration:underline; }
p { color: #3c3834; }
select { font-weight: 400; }
input[type="radio"], input[type="checkbox"] { margin: 3px 0 0; }
h2.collapsed, h2.not-collapsed { cursor: pointer; }
footer { position: absolute; bottom: 5px; margin-left: 30px; color: #737270; font-size: 11px; }



/* GLOBAL SEARCH */
/*===============================================================*/
.global-search .glyphicon-search {
	font-size: 14px;
}
.global-search .add-on {
	
}

/* STEPS INDICATOR */
/*===============================================================*/
.steps-body {
	border-top: 2px solid #00629B;
	display: inline-block;
}
.steps-ind {
	display: inline-block;
	padding: 15px 30px;
	margin-right: -3px;
	margin-top: -2px;
	color: #00629B;
	text-transform: uppercase;
	border-top: 2px solid #00629B;
	cursor: default;
}
.steps-ind-active {
	border-top: 5px solid #00629B;
	vertical-align: top;
	padding: 10px 0px;
	margin: 0px;
	margin-left: 27px;
	margin-right: -3.5px;
}
.steps-ind-incomplete {
	border-top: 2px solid #CCC;
	color: #CCC;
}
.steps-inc-first {
	padding-left: 60px;
}

/* DISPLAY LABEL-VALUE PAIRS */
/*===============================================================*/
.row.bubble-well {
	margin-left: 0;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	padding: 10px 10px 5px 10px;
	height: auto;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row:before, .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.row:after {
	clear: both;
}
.row:before, .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.bubble {
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	background-color: white;
	padding: 10px;
	width: 300px;
	width: 280px\9;
	height: 132px;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
	display: inline-block;
	/* z-index: 10; */
}
.bubble-large {
	height: 195px;
	height: 175px\9;
}
.bubble-group.condensed {
	width: 320px;
}
.bubble-group {
	width: auto;
	height: 245px;
	margin: 0 15px 10px 0;
	display: inline-block;
	white-space: nowrap;
	padding-left: 10px;
	float: left;
}
.bubble-group:hover {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ccc;
}
.bubble-group div.bubble-group-title {
	width: auto;
	display: block;
	position: relative;
}
.bubble-group div.bubble-group-title .bubble-title-icon {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	margin-right: 10px;
	text-decoration: none;
}
.bubble-group div.bubble-group-title a {
	text-decoration: none;
	color: #737270;
}
.bubble-group div.bubble-group-title .bubble-title-icon {
	cursor: pointer;
}
.bubble > table {
	margin-bottom: 0;
	margin-top: 0;
}
.bubble > table tbody tr td:nth-child(1) {
	color: #888888;
}
.bubble > table tbody tr td {
	padding: 5px;
}
.bubble .table td {
	border-top: none;
}
.bubble .popover.right {
	width: 100%;
}
.bubble a {
  text-decoration: none;
  border-bottom: 1px #00629B dotted;
}
.bubble a:hover {
  text-decoration: 1px #005580 dotted;
}




/* VERTICAL & HORIZONTAL NAV */
/*===============================================================*/
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	color: #fff;
	background-color: #00629B !important;
}
.nav-pills > li > a {
	color: #00629B;
}
.nav-side-fico > li > a {
	padding: 3px 25px;
}
.nav-side-fico{
	border: 1px solid #CCC;
	background-color: #F2F2F2;
	padding: 15px 0px;	
	border-radius: 6px;
	margin-top: 20px;
	width: 232px;
}
.nav-side-fico a{
	color: #003F5F;
}
.nav-side-fico >.header > a{
	display: block;
	padding: 5px 0px;
	padding-left: 25px;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #3C3834;	
	text-transform: uppercase;
}
.nav-side-fico > .active > a, .nav-side-fico > .active > a:hover{
	background-color: #737270;
	color: #fff;
}
.nav-side-fico > li > a:hover{
	background-color: #ccc;
	text-shadow: none;
}

.nav-side-divider{
	height: 1px;
	width: 230px; /* add 30 px to the .nav-side-fico width*/
	margin: 9px 0px;
	overflow: hidden;
	background-color: #ccc;	
}

.sub-nav {
  margin-bottom: 5px;
  list-style: none;
}

.slide-contents{
	display: none;
	list-style: none;
	font-style: italic;
}
.breadcrumb { background-color: #f2f2f2; }


.sidebar{
	position: absolute;
	background-color: #f2f2f2!important;
	left: auto;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 0px;
	padding-top:15px;
	margin-bottom: 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
	height: 100%;
}
.sidebar li > a{
	line-height: 32px;
	color: #00629B;
	font-weight: 500;
	text-align: left;
	display: block;
    padding: 3px 23px;
    clear: both;
    white-space: nowrap;
	border-left: 5px solid #f2f2f2;
}
.sidebar .sub-nav li{
	border-left: 5px solid #f2f2f2;
}
.sidebar .sub-nav li a:hover {
	text-decoration: none;
}
.sidebar>li>a:hover, .sidebar>li>a:focus , .sidebar .sub-nav li:hover {
	text-decoration: none;
	border-left: 5px solid #737270;
}
.sidebar >.header > a{
	display: block;
	padding: 5px 0px;
	padding-left: 25px;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #3C3834;	
	text-transform: uppercase;
}
.sidebar .sub-nav {
	padding-left: 0px;
}
.sidebar .sub-nav li {
	padding-left: 25px;
}
.sidebar > .active > a, .sidebar > .active > a:hover, .sidebar > .active > a:focus {
	background-color: #737270!important;
	color: #FFF !important;
	border-left: 5px solid #737270;
}
.sidebar .header {
    padding: 15px;
    padding-left: 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    color: #6C6C6C;
}

.sidebar-collapse {
    position: absolute;
    background-color: #f2f2f2!important;
    left: auto;
    z-index: 1000;
    float: left;
    padding: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 16px;
    text-align: left;
    list-style: none;
    height: 100%;
	color: #6C6C6C;
}
.sidebar-collapse i {
	margin-left: 2px;
}
.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  padding: 9px;  
  /*position: relative;*/
  width: 38px;
}
.mini-submenu:hover{
  cursor: pointer;
}
#slide-submenu{
  cursor: pointer;
  margin-right: 10px;
}
#slide-submenu i{
	color: #6C6C6C;
	font-size: 16px;	
}



/* FIELD SETS */
/*===============================================================*/
.form-inline fieldset {
	text-transform: none;
}
fieldset {
	font-size: 15px;
	color: #727370;
	line-height: 20px;
	text-transform: uppercase;
	/*border-bottom: 1px solid #ccc;*/
	margin-bottom: 20px;
}

/* PAGINATION */
/*===============================================================*/
.pagination>li>a, .pagination>li>span {
	color: #00629B;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #00629B;
	border-color: #00629B;
}
.jumpto-pager {
	display: inline-block;
}
.jumpto-pager li>a {
	border-radius: 6px;
	padding: 6px 10px;
	padding-top: 7px;
}
.jumpto-pager li>a.disabled {
	color: #ddd;
}
.jumpto-pager li>a:hover.disabled {
	cursor: default;
	background-color: #fff;
}
.jumpto-pagination {
	width: 225px;
	border: 1px solid #ccc;
	padding: 20px;
	margin-top: -15px;
	position: absolute;
	background-color: #fff;
}
.jumpto-pagination div select {
	width: 60px;
}
.jumpto-pagination input[type="number"] {
    width: 60px;
    padding-left: 5px;
}
.results-per-page {
	margin-top: 15px;
}

/* FORM ELEMENTS & MISC */
/*===============================================================*/
fieldset input, fieldset select {
	margin-left: 15px;
	margin-bottom: 15px;
}
.form-inline .form-group {
	display: block;
}
.form-inline .form-control {
	margin-left: 15px;
	margin-bottom: 15px;
	vertical-align: baseline;
}
legend {
	padding-bottom: 5px;
}

option.separator {
    margin-top:8px;
    border-top:1px solid #666;
    padding:0;
}
optgroup {
	color: #737270;
}
option {
	color: #212121;
}


.input-large, .uneditable-input { 
	padding: 4px 6px; 
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ddd;
    height: 30px;
}

.input-label { display: inline-block; margin-right: 15px; color: #737270; font-weight: 400; text-transform: none;}

form .input-label { text-align: right; width: 175px; }
/*
form .input-large { margin: 10px 0px; }
*/
.cloud-list > li { font-weight: 500; color:#444; list-style: none; }
.cloud-list > li .caret { margin-top: -2px; margin-right:5px; border-top-color: #0088cc; border-bottom-color: #0088cc; }
.cloud-list > li .caret-expanded { margin-top: 8px; }
.cloud-list > li > p { font-weight: 400; color:#777; margin-left: 16px; }

/*.hero-caption { width:294px; background-color:#4B4B4B; padding:10px 25px;  }
.hero-caption h1 { color:#fff; font-size:30px; }
.hero-title { background-color:#1972AE; padding:12px 20px 15px; }
.hero-title h4 { color:#fff; }
*/
.label-checkbox { display:block; }
.link { font-weight: 700; font-size: 12px; }
.header-link { font-weight: 500; font-size: 18px; }

.caret { border-bottom: 4px solid transparent !important; border-top: 4px solid transparent !important; border-left: 4px solid #00629B !important;border-right: 4px solid transparent !important; }
.caret-expanded { display: inline-block; width: 0; height: 0; vertical-align: top; border-bottom: 4px solid transparent !important; border-top: 4px solid #00629B !important; border-left: 4px solid transparent !important; border-right: 4px solid transparent !important; content: ""; }
.caret-up { display: inline-block; width: 0; height: 0; vertical-align: top; border-top: 4px solid transparent !important; border-bottom: 4px solid #00629B !important; border-left: 4px solid transparent !important; border-right: 4px solid transparent !important; content: ""; }
button .caret-up, .btn .caret-up { margin-top: 5px; }
button .caret-expanded, .btn .caret-expanded { margin-top: 8px; }

.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
text-decoration: none;
background-color: transparent !important;
color: #999 !important;
background-image: none;
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
cursor: not-allowed;
}

input[disabled], input.disabled{
	background-color: #f2f2f2;
}

.checkbox input[type=checkbox] {
  position: relative;
  margin-left: 0px;
}


/* added for mcentral */
fieldset {
	text-transform: none;
}

fieldset textarea {
  margin-left:15px; 
}

fieldset .error {
border-color: #b8202a;
}

fieldset label.error {
margin-left:15px;
}

.form-inline textarea.form-control {
    vertical-align: -webkit-baseline-middle;
}

.form-control {
	padding: 4px 6px;
	height:30px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #00addc;
  color: #000;
}

label {
	color: #727370;
	margin-right:15px;
	font-weight: 400;
	text-transform: none;
	vertical-align: baseline;
}



    


/* WIZARD */
/*===============================================================*/
.wizard li{
	list-style: none;
	display: inline-block;
	border-top: 1px solid #ccc;
}

.wizard-progress{
	height: 4px;
	width: 50%;
	margin-bottom: 6px;
}

.wizard .first{
	width: 40px;
}

.wizard .completed{
	background-color: #003f5f;
}

.wizard>li a{
}

/* BADGES */
/*===============================================================*/
a.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
	color: #428bca;
	background-color: #fff;
	margin-left: 10px;
}
.badge {
	margin-left: 10px;
}
.btn:hover .badge {
	color: #003f5f;
	background-color: #fff;
}
.btn-primary .badge {
	color: #fff;
	background-color: #999;
}
.btn-primary:hover .badge {
	color: #428bca;
	background-color: #fff;
}





/* BUTTONS */
/*===============================================================*/
.btn, .btn:active, .btn-group > .btn:first-child {
	background-color: transparent;
	color: #00629B;
	font-weight: 500;
	text-transform: uppercase;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-group > .btn:first-child:hover, .btn:hover, .btn:focus {
	text-decoration:none;
	opacity: 1;
	border-color:#F2F2F2;
	background-color: #F2F2F2;
	color: #00629B;
}

.btn-on-gray:hover, .btn-on-gray:focus {
	text-decoration:none;
	opacity: 1;
	border-color:#ffffff;
	background-color: #fff;
	color: #00629B;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover, .btn.disabled:focus, .btn[disabled]:focus, fieldset[disabled] .btn:focus, .btn.disabled:active, .btn[disabled]:active, fieldset[disabled] .btn:active, .btn.disabled.active, .btn[disabled].active, fieldset[disabled] .btn.active {
	background-color:#fff;
	border: none;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;	
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;	
	border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	outline:none;
	color:#737270 ;
	opacity: .4;
	background-image: none;
	text-shadow: none;
	filter: alpha(opacity40);
	-moz-box-shadow: none;
	box-shadow: none;
	cursor:auto;
}

.btn-on-gray.disabled, .btn-on-gray[disabled], fieldset[disabled] .btn-on-gray, .btn-on-gray.disabled:hover, .btn-on-gray[disabled]:hover, fieldset[disabled] .btn-on-gray:hover, .btn-on-gray.disabled:focus, .btn-on-gray[disabled]:focus, fieldset[disabled] .btn-on-gray:focus, .btn-on-gray.disabled:active, .btn-on-gray[disabled]:active, fieldset[disabled] .btn-on-gray:active, .btn-on-gray.disabled.active, .btn-on-gray[disabled].active, fieldset[disabled] .btn-on-gray.active {
	opacity: 1;
	background-color: transparent;
	border: none;
}

.active-pager-btn, .active-pager-btn:focus, .active-pager-btn:active, .active-pager-btn:hover {
	border:1px solid #00629B;
	background-color: #00629B; 
	color: #fff;
	outline:none;
}
.btn-primary, .btn-primary:active, .btn-group > .btn-primary:first-child { 
	border:1px solid #00629B;
	background-color:#fff; 
	color: #00629B;
}
.btn-primary:hover, .btn-primary:focus, .btn-group > .btn-primary:first-child:hover{
	border-color: #00629B;
	background-color: #00629B;
	color: #fff;
}

.btn-primary.disabled, .btn-primary[disabled], .btn-primary[disabled]:first-child, fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #737270 !important;
	border: 1px solid #737270 !important;
	color: #fff !important;
}

.btn-emphasized, .btn-emphasized:active, .btn-group > .btn-emphasized:first-child { 
	border:1px solid #00629B;
	background-color:#00629B; 
	color: #fff;
}
.btn-emphasized:hover, .btn-emphasized:focus, .btn-group > .btn-emphasized:first-child:hover{
	border-color: #003f5f;
	background-color: #003f5f;
	color: #fff;
}

.btn-emphasized.disabled, .btn-emphasized[disabled], fieldset[disabled] .btn-emphasized, .btn-emphasized.disabled:hover, .btn-emphasized[disabled]:hover, fieldset[disabled] .btn-emphasized:hover, .btn-emphasized.disabled:focus, .btn-emphasized[disabled]:focus, fieldset[disabled] .btn-emphasized:focus, .btn-emphasized.disabled:active, .btn-emphasized[disabled]:active, fieldset[disabled] .btn-emphasized:active, .btn-emphasized.disabled.active, .btn-emphasized[disabled].active, fieldset[disabled] .btn-emphasized.active {
	border: 1px solid #737270;
	background-color: #737270;
	color: #fff;
}

.btn-group >a> .caret{
	border-top: 4px solid #fff;
}

.btn-group.open .btn.dropdown-toggle {
	background-color: #f2f2f2;
	color: #00629B;
}
.btn-group.open .btn-primary.dropdown-toggle {
	background-color: #00629B;
	color: #fff;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.btn-group.open .btn.dropdown-toggle .caret-expanded, .btn-group > .btn:first-child:hover .caret-expanded, .btn-group > .btn:hover .caret-expanded, .btn-group.open .btn-primary.dropdown-toggle .caret-expanded, .btn-group > .btn-primary:first-child:hover .caret-expanded, .btn-group > .btn-primary:hover .caret-expanded { 
	display: inline-block; 
	width: 0; 
	height: 0; 
	vertical-align: top; 
	border-bottom: 4px solid transparent !important; 
	border-top: 4px solid #00629B !important; 
	border-left: 4px solid transparent !important; 
	border-right: 4px solid transparent !important; 
	content: "";
}

.btn-group.open .btn-primary.dropdown-toggle .caret-expanded, .btn-group > .btn-primary:first-child:hover .caret-expanded, .btn-group > .btn-primary:hover .caret-expanded, .btn-group.open .btn-primary.dropdown-toggle .caret-expanded, .btn-group > .btn-primary:first-child:hover .caret-expanded, .btn-group > .btn-primary:hover .caret-expanded { 
	display: inline-block; 
	width: 0; 
	height: 0; 
	vertical-align: top; 
	border-bottom: 4px solid transparent !important; 
	border-top: 4px solid #fff !important; 
	border-left: 4px solid transparent !important; 
	border-right: 4px solid transparent !important; 
	content: ""; 
}


 .btn-group.open .btn-primary.dropdown-toggle .caret-up, .btn-group > .btn-primary:first-child:hover .caret-up, .btn-group > .btn-primary:hover .caret-up { 
	display: inline-block; 
	width: 0; 
	height: 0; 
	vertical-align: top; 
	border-top: 4px solid transparent !important; 
	border-bottom: 4px solid #fff !important; 
	border-left: 4px solid transparent !important; 
	border-right: 4px solid transparent !important; 
	content: ""; 
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
	/*margin-left: -2px;*/
}
.btn-group-vertical>.btn+.btn, .btn-group-vertical>.btn+.btn-group, .btn-group-vertical>.btn-group+.btn, .btn-group-vertical>.btn-group+.btn-group {
	margin-top: -2px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}



/* FICO TABLES  */
/*===============================================================*/
.table-main, .table2, .table3, .table4{
	margin-bottom: 18px;
	display: table;
	width: 100%;
	border-collapse: collapse;	
	font-size: 14px;
}
.table3{
	border: 1px solid #ccc;
}
.table4 td{
	padding: 8px;
	line-height: 18px;	
	vertical-align: top;
}
.table-main th, .table-main td, .table2 th, .table2 td, .table3 th{
	padding: 8px;
	line-height: 18px;	
	vertical-align: top;
	border: 1px solid #ccc;
}
.table3 td{
	padding: 8px;
	line-height: 18px;	
	vertical-align: top;
}
.table-main td, .table2 td, .table3 td, .table4 td{
	text-align: left;
}
.table-main th, .table2 th, .table3 th{
	text-align: center;
	background-color: #D2E9F4;
	font-weight: normal;
	color: #3C3834;
}
.table-main tbody tr:nth-child(2n+2) td{
	background-color: #f2f2f2;
}
.table2 tbody tr:nth-child(even) td{
	background-color: #EFEBE5;
}
.table3 tbody tr:nth-child(even) td{
	background-color: #f2f2f2;
}
.row-hover tbody tr:hover td{
	background-color: #ddd;
}
.table-condensed th, .table-condensed td{
  padding: 4px 5px;
}
.table-main .checkbox input[type=checkbox] {
	float: none;
}
.table-main td {
	vertical-align: middle;
}



/*Adjustable Column Header Styling*/
@keyframes adjustControls {
  from {
    opacity: 0;
  }
  to {
    opacity: .75;
  }
}
@-moz-keyframes adjustControls {
  from {
    opacity: 0;
  }
  to {
    opacity: .75;
  }
}
@-webkit-keyframes adjustControls {
  from {
    opacity: 0;
  }
  to {
    opacity: .75;
  }
}
@-ms-keyframes adjustControls {
  from {
    opacity: 0;
  }
  to {
    opacity: .75;
  }
}
thead > tr.adjustable-header > th:first-child span.move-left {
  opacity: 0 !important;
  display: none !important;
}
thead > tr.adjustable-header > th:first-child:hover span.move-left {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
}
thead > tr.adjustable-header > th:last-child span.move-right {
  opacity: 0 !important;
  display: none !important;
}
thead > tr.adjustable-header > th:last-child:hover span.move-right {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
}
tr.adjustable-header > th {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
tr.adjustable-header > th span.move-left,
tr.adjustable-header > th span.move-right {
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 25px;
  height: 100%;
  background-color: white;
  vertical-align: middle;
  text-align: center;
  padding-top: 8px;
}
tr.adjustable-header > th span.move-left i.fa,
tr.adjustable-header > th span.move-right i.fa {
  position: absolute;
  display: inline-block;
  top: 35%;
}
tr.adjustable-header > th span.move-left:hover,
tr.adjustable-header > th span.move-right:hover {
  background: #737270;
}
tr.adjustable-header > th span.move-left:hover i.fa,
tr.adjustable-header > th span.move-right:hover i.fa {
  color: white;
}
tr.adjustable-header > th span.move-left {
  left: 0px;
}
tr.adjustable-header > th span.move-left i.fa {
  left: 10px;
}
tr.adjustable-header > th span.move-right {
  right: 0px;
}
tr.adjustable-header > th span.move-right i.fa {
  right: 10px;
}
tr.adjustable-header > th span.header-content {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
tr.adjustable-header > th:hover span.move-left,
tr.adjustable-header > th:hover span.move-right {
  animation: adjustControls 150ms;
  -webkit-animation: adjustControls 150ms;
  -moz-animation: adjustControls 150ms;
  animation-duration: 150ms;
  display: inline-block;
  opacity: .75;
}











/* DROPDOWNS, HEADER DROPDOWNS, & TABS */
/*===============================================================*/
#right-options > .nav-tabs .open > .dropdown-toggle,#right-options > .nav-pills .open .dropdown-toggle{
	background-color: transparent;
	border-color: transparent;
}
#right-options > .nav-tabs .open .dropdown-toggle > .caret-box,#right-options > .nav-pills .open .dropdown-toggle >.caret-box{
	background: #00c0f5;
}

#main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle{
	color: #003f5f;
}
#main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle:hover,#main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle:focus, #main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle:active{
	color: #fff;
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-border-bottom-left-radius: 0px!important;
	-webkit-border-top-left-radius: 0px!important;
	-webkit-border-top-right-radius: 0px!important;
	-webkit-border-bottom-right-radius: 0px!important;
	border-bottom-left-radius: 0px!important;	
	border-top-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;	
	border-top-right-radius: 0px!important;
	-moz-border-radius-bottomleft: 0px!important;
	-moz-border-radius-topleft: 0px!important;
	-moz-border-radius-bottomright: 0px!important;
	-moz-border-radius-topright: 0px!important;
	background-color: #f2f2f2!important;
	left: auto;
}
.dropdown-menu li > a{
	line-height: 32px;
	color: #00629B;
	font-weight: 500;
	text-align: left;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	color: #fff!important;
	text-decoration: none;
	background: #00629B!important;
	background-color: #00629B!important;
	background-image: none;
}


#main-nav > .nav-pills> li.dropdown > .open
.input-append .add-on, .input-prepend .add-on {
	background-color:white;
	border: 1px solid #ddd;
	padding: 4px;
	padding-bottom: 5px;
	border-right: none;
	margin-right: -5px;
}

.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
	border-color: transparent;
	border-left-color: transparent;
	border-style: none;
	border-width: 0px;
	float: right;
	margin-top: 0px;
	content: url('images/arrow-right-gray.png');
}

.dropdown-submenu:hover>a:after{
	content: url('images/arrow-right-white.png');
}


.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#inputIcon{
	border-left:none;
	padding: 4px 6px;
}
#inputIcon:focus{
	border-color:#ddd;
}

.chevron-down { font-family: 'icomoon'; font-size: 9px; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
.chevron-down:before { content: "\e004"; }
.down-chevron { background-image: url('images/arrow-down.png'); }




.vert-tab{
	position: absolute;
	background-color: #f2f2f2!important;
	left: auto;
    z-index: 1000;
    float: left;
    min-width: 200px;
    padding: 0px;
	padding-top:15px;
	margin-bottom: 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
	height: 100%;
}
.vert-tab li > a{
	line-height: 32px;
	color: #00629B;
	font-weight: 500;
	text-align: left;
	display: block;
    padding: 3px 20px;
    clear: both;
    white-space: nowrap;
	border-left: 5px solid #f2f2f2;
}

.vert-tab>li>a:hover, .vert-tab>li>a:focus {
	text-decoration: none;
}

.vert-tab > .active > a, .vert-tab > .active > a:hover, .vert-tab > .active > a:focus {
	background-color: #fff!important;
	color: #000;
	cursor: default;
	border-left: 5px solid #fff;
	margin-left: 8px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 12px;
}




/* SYSTEM ALERTS */
/*===============================================================*/
.alert-danger, .alert-success, .alert-info, .alert {
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 14px 16px;
}
.alert {
	background-image: url('images/alertWarning.png');
}
.alert-danger {
	background-image: url('images/alertError.png')!important;
}
.alert-success {
	background-image: url('images/alertSuccess.png')!important;
}
.alert-info {
	background-image: url('images/alertInfo.png')!important;
}



/* PROGRESS AND MODAL WINDOWS */
/*===============================================================*/
.modal-header{
    padding-bottom:0;
    padding-top:15px;
    border-bottom:none;
}

.modal-title{
	text-transform: capitalize;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: .76;
	filter: alpha(opacity=76);
}

.modal-footer{
    background-color:transparent;
    text-align:left;
}

.progress{
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F2F2F2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress-modal-header{
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 15px;
    padding-left:15px;
}
.progress-bar-info{
    background-color:#5bc0de;
}
.progress-bar{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #00B5E2;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
} 
.progress-striped .progress-bar-info{
    background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
}
.progress-striped .progress-bar{
    background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar{
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

#container > div.modal { margin-left:-225px; }
#modalSpecific { margin-top: -226px; /*specific to a dialog with height 452px height*/ }
.modalWidthmedium { width:450px; }
div.modal-body p { font-size:13px; margin-bottom:0; }
p.modal-title { font-size:13px; margin-bottom:0; color:#000; }
div.modal-circle { text-align:center; padding-top:15px; }




/* LOGON PAGES */
/*===============================================================*/
body.logonPage {
	background: url('images/analytic-cloud-bg.jpg') no-repeat center center fixed;
	/*background-repeat: no-repeat;
	background-size: 100% 100%;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#main-logon-box {
	overflow:auto;
	padding-top: 50px;
}
.white-box {
	background-color:rgba(255,255,255,0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ccffffff', endColorstr='#ccffffff'); /* IE */
	padding-bottom: 40px;
}
.white-box-border {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.logonPage #container {
	padding-top: 125px;
	min-height: 100%;
	margin: 0;
	padding-right: 0px;
}
#logon-logo {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	padding-bottom: 15px;
}
#title-area {
	height:47px;
	padding-top: 20px;
}
#need-account-link {
	float:right;
	margin-top: 5px;
}
#need-account-link a {
	color: #000;
	font-size: 12px;
	font-weight: 400;
}
#cloud-logo {
	cursor: pointer;
}
#logon-title {
	font-size: 20px;
	color: #737270;
	line-height: 28px;
	height:40px;
	float:left;
	font-weight: 500;
}
#logon-box {
	width: 600px;
	height: 275px;
	margin-left: auto;
	margin-right: auto;
}
#center-box {
	width:600px;
	height:160px;
	padding-top: 70px;
	color:#3c3834;
}

#password-input {
	margin-bottom: 5px;
}
#inputPassword, #inputEmail {
	width:285px;
	border: none;
	border-bottom: 3px solid #00629B;
	padding: 0px;
	background-color: transparent;
}
#inputPassword {
	margin-left: 25px;
}
#emailLabel, #passwordLabel {
	width:280px;
	font-weight: 300;
	font-size: 20px;
	color: #00629B;
	text-align: left;
}
#passwordLabel {
	padding-left: 15px;
}
#forgot-password-link {
	margin-top: 10px;
	color: #000;
	font-size: 12px;
	font-weight: 400;
}
.bottom-row {
	margin-top: 50px;
}
.bottom-row .btn-primary {
	background-color: transparent;
}
.bottom-row .btn-primary:hover {
	background-color: #00629B;
}
#logout-area {
	padding-left:20px;
	padding-right:20px;
}
#dmpBG {
	background-image: url('images/DMP-catalog-screenshot.png');
	background-repeat:no-repeat !important;
	background-position:center;
	min-height:897px;
	margin-left:-20px !important;
}
#footer {
	position:relative;
	clear:both;
	min-height:50px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	padding-bottom: 15px;
}
#footer-links {
	margin-top: 12px;
	font-size: 12px;
	font-weight: 400;
}
#footer-links span {
	margin-right:10px;
	color:#fff;
}
#footer-links > a {
	margin-right:30px;
	color:#00addc;
}
.footer-right-links {
	float: left;
	margin-right: 0px !important;
}
.footer-right-links > a {
	color: #fff;
	margin-right: 15px;
	font-weight: 700;
}

.footer-left-copyright {
	display: block;
	padding-top: 40px;
}


.modal-body-logout {
	position: relative;
	max-height: 400px;
	padding: 25px;
	overflow-y: auto;
}
.modal-logout-options {
	padding-top:10px;
	padding-bottom:15px;
	/*margin-top: 15px;*/
	text-align: left;
	border-top: 1px solid #e5e5e5;
}
.modal-logout-options a {
	margin-top:12px;
	float:left;
}
.modal-content .close {
	padding: 5px 10px;
}
.checkbox-logout {
	color:#777;
	font-size:13px;
	font-weight: 400;
	margin-left:0px;
}





/* ERROR PAGES  */
/*===============================================================*/
.error_page {
}
.error-container {
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.error-container table {
	color: #000;
	margin-left: 30px;
}
