body, html { height:100%; }

body { 
	font-size:14px;
	line-height:1.428;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:#212121;
	background:#fff;
	-webkit-font-smoothing:antialiased;
}

a { text-decoration:none; cursor:pointer; }
a:hover { text-decoration: underline; }
a:focus { outline: 0; }

p { margin-bottom:20px; }
p a { font-family: 'Roboto', sans-serif; font-weight: 500;  }

h1,h2,h3,h4,h5,h6 { font-weight:normal; }
h1 { font-size:36px; color:#212121; line-height:60px; }
h2 { font-size:28px; color:#212121; line-height:50px; }
h2.lined { border-bottom:1px solid #ccc; }
h3 { font-size:22px; color:#727370; line-height:28px; }
h4 { font-size:15px; color:#727370; line-height:20px; text-transform:uppercase;}
h5 { font-size:14px; color:#212121; font-family:'Roboto', sans-serif; font-weight: 500; line-height: 20px;}
h6 { font-size:14px; color:#737270; line-height:20px; font-style: italic; }

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, p a:visited {  }

input, textarea, select { font-size:14px; font-family: 'Roboto', sans-serif; font-weight: 400; }
textarea { overflow:auto; }
fieldset { border:0 none; }
label { font-family: 'Roboto', sans-serif; font-weight: 500; display:inline-block; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #ddd;
	height: 30px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #00addc;
	color: #000;
}

#container { margin-left: 27px; padding-top: 10px; padding-right: 20px; min-width: 960px; }
#container-sidebar { padding-right: 20px; min-width: 960px; height: 90% }

/*Start: Chrome default autofill styling fix.*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
}
/*End: Chrome autofill styling fix*/




/* HELPERS */
/*===============================================================*/
.left, .alignleft, .pull-left { float: left; }
.right, .alignright, .pull-right { float: right;}
.aligncenter { display: block; margin-left: auto; margin-right: auto; }