/* HELPERS */
/*===============================================================*/
img { vertical-align:middle; border:0 none; -ms-interpolation-mode:bicubic; }


/* BUTTONS */
/*===============================================================*/
.btn-login { border: 2px solid white; border-radius: 4px; color:#fff; background-color: transparent; }
.btn-login:hover { border: 2px solid white; background-color: white; color: #003f5f; opacity: 1; filter: alpha(opacity100); }

/* BASIC HEADER */
/*===============================================================*/
#top-bar{
	min-width: 962px;
}
#top-bar > div {
	margin-right: 23px;
	font-weight: 300;
}
#top-bar > div > a{
	font-size: 12px; 
	font-weight: 300;
	color: #f2f2f2;	
	padding: 0; 
	margin-left: 27px;
}
#top-bar > div > a:hover{
	text-decoration: none;
	border-bottom: 1px solid #fff;
}
#main-bar{
	background-color: #00629B;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-size: 100%;*/
	min-width: 960px;
	height: 100px;
	/*position: fixed;*/
	width: 100%;
}
#main-bar-inner{
	margin-left: 28px;
	border: 1px solid transparent;
	height: 59px;
	padding-top: 16px;
}
#product-name{
	color: white;
	font-weight: 500;
	height:34px;
	font-size: 24px;
	margin-top:-4px;
	line-height: 44px;
	margin-left: 25px;
}
#main-nav{
	height: 20px;
	margin-top: 10px;
	margin-left: 8px;
}
.compact-header #main-nav{
	margin-top: 0px;
}
#main-nav > .nav-pills .open .dropdown-toggle{
	background-color: transparent;
	border-color: transparent;
}
#main-nav > .nav-pills .open >a:focus{
	text-decoration: none;
}
#main-nav > .nav-pills > li{
	height: 36px;
}
#main-nav > .nav-pills > li> div {
	padding-bottom: 16px;
	margin-left:22px;
	margin-right:25px;
	text-align: center;
	height:13px;
	line-height: 13px;
}


#main-nav > .nav-pills > li> div.active {
	border-bottom: 2px solid #fff;
}

#main-nav > .nav-pills > li.dropdown> div.active, #main-nav > .nav-pills > li#solution-menu-item> div.active {
	border-bottom: none;
}

#main-nav.main-nav-dropdown > .nav-pills > li> div.active {
	border-bottom: none;
}

#main-nav > .nav-pills > li> div.active > a > div {
	border-bottom: 2px solid #fff;
}

#main-nav > .nav-pills > li> div.active > a > div.nav-menu-caret {
	border-bottom: none;
}

#main-nav > .nav-pills > li> div > a{
	color: white;
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
#main-nav > .nav-pills > li> div > a > .caret{
	border-top-color: white;
	margin-top: 8px;
	margin-left: 5px;
}
#main-nav > .nav-pills > li > div>a:focus{
	text-decoration: none;
}
#main-nav > .nav-pills > li > div.active >a:hover{
	padding-bottom: 16px;
}

#main-nav > .nav-pills > li > div>a:hover, #main-nav > .nav-pills > li> div > a:hover > .caret {
	background: transparent;
	text-decoration: none;
	color:#fff;
	border-bottom: 2px solid #fff; 
}

#main-nav .nav .open>a, #main-nav .nav .open>a:hover, #main-nav .nav .open>a:focus {
  background-color: transparent;
  border-color: transparent;
}


#product-name > sup { font-size: 60%; }
#right-options { margin-right: 25px; margin-top: -6px; }
#right-options > div > a { color: white; }
#right-options > div > a:hover, #right-options > div > a:focus { text-decoration: none; }
#help-link { margin-top: 0px; font-size: 14px; }
#help-link a { font-weight: 400; text-transform: uppercase; }
#help-link a:hover, #help-link a:focus { border-bottom: 2px solid #fff; }






/* HEADER */
/*===============================================================*/
.dropdown-menu { min-width: 100px; /*width: 100%;*/ }

.profile-item { color: #fff; text-decoration: none; margin-right:18px; font-weight: 400; text-transform: uppercase; }
.profile-item div { display: inline; }
.profile-item:hover, .profile-item:focus, .profile-item:active {  color: #fff; text-decoration: none; font-weight: 400; }
.profile-item:hover div:first-child, .profile-item:focus div:first-child, .profile-item:active div:first-child {  border-bottom: 2px solid }

/* COMPACT HEADER */
/*===============================================================*/
#main-bar.compact-header {
	height: 60px;
}
#main-bar.compact-header #main-bar-inner{
	padding-top: 6px;
	height: 34px;
}
#main-bar.compact-header #main-bar-inner img.fico-logo  {
	height: 20px;
}
#main-bar.compact-header #main-bar-inner #product-name  {
	font-size: 16px;
	height: 20px;
	line-height: 26px;
	margin-left: 0px;
}
.compact-header #main-nav #right-options {
	margin-top: -3px;
}


/* MEGA MENU */
/*===============================================================*/
.mega-menu { min-width: 850px; width: 100%; background-color: #f2f2f2; border: none; border-radius: 0; padding-bottom: 30px; margin-left: 2px; z-index: 0; height: 200px; display: block; }

#solution-mega-menu { border-bottom: 5px solid #00B5E2; display: none; padding-left: 0px !important; padding-top: 15px !important; }

.mega-menu li { border-left: none; width: 250px; padding-left: 10px; list-style: none; }
.mega-menu .sub-menu a { color: #00629B; text-decoration: none; font-weight: normal; font-size: 14px; text-align: left; }
.mega-menu .sub-menu a:hover { text-decoration: underline; }
.mega-menu .sub-menu { padding: 0px; }

.menu-item-title { color: #000; font-weight: bold; }

.sub-menu-item { display: block; padding-top: 10px;}

#col-one, #col-two, #col-three { float: left; }
#col-two { margin-left: 25px; width: 200px; }
#col-three { margin-left: 75px; width: 200px; }
#col-one { width: 200px; }
#col-two { padding-left: 50px; }

#main-nav > .nav-pills > li#solution-menu-item > div > a:hover { border-bottom: none; }
