name: Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.0.0
    - uses: actions/setup-node@v1.0.4
      with:
        node-version: 10.x
    - name: Build
      run: |
        npm ci
        npm run build
    - name: Test
      run: |
        npm run test:coverage
      env:
        CI: true
